$dark-grey: #333;
$light-grey: #dedfde;

.table{
    margin: 2rem auto;
}
.tableSection {
  display: flex;
  flex-direction: row;
  height: 4.5rem;
  width: 70%;
  margin: 0rem auto;
  padding: 0.3rem;
  align-items: center;
  font-weight: 550;
}

.tableSection> *{
    display: flex;
  align-items: center;
  border: 0.1rem solid $light-grey;
  padding: 0.9rem;
  height: 3.25rem;
}

.tableSection1 {
  width: 25rem;
}
.tableSection2 {
  width: 30rem;
}
.tableSection3 {
  width: 25rem;
}


.tableHeader {
  display: flex;
  flex-direction: row;
  height: 3.3rem;
  width: 70%;
  margin: 1rem auto;
  align-items: center;
  font-weight: 550;
}

.tableHeader > * {
  display: flex;
  align-items: center;
  border: 0.15rem solid $light-grey;
  padding: 0.9rem;
  height: 3.25rem;
}

@media only screen and (max-width: 675px) {
    .table{
        font-size: 0.6rem;
        // width: 10rem;
        font-size: 10px;
        overflow: scroll;
    }
    .tableSection,.tableHeader{
      width:90%;
    }
    .tableSection>*{
      overflow: scroll;
      align-items:flex-start;
    }
  }
  
  @media (min-width:675px) and (max-width:925px) {
    .table{
        font-size: 0.8rem;
    }
  }